<div>
    <h1>Component B</h1>
    <label>Input for component B</label>
    <div class="panel panel-primary">
        <div class="panel-body">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Enter any text for component B" [(ngModel)]="userInput_B">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-6">
            <button (click)="callButton_B()" class="btn btn-secondary">Component B >>> A</button>
        </div>
        <div class="col col-md-6">
            <button (click)="callClear_B()" class="btn btn-warning">Clear</button>
        </div>
    </div>
</div>